body {
    background: black;
    color: white;
    font-family: Helvetica Neue, Helvectica, sans-serif;
    margin: 0px 0px;
}

header{
    padding: 35px 20px 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer{
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px;
    Position: absolute; bottom: -100; Left: 0; Right: 0; 
}

header nav ul, footer nav{
    display: flex;
    flex-direction: row;
    /* align-content: center;
    justify-items: center; */
}

header h1 {
    text-align: left;
    margin-bottom: 5px;
    align-self: flex-start;
}

header h2 {
    align-self: flex-start;
    text-align: left;
    font-size: medium;
    margin: 0px;
    padding: 0px;
}

section {
    /* background: rgb(247, 247, 247); */
    background-color: white;
    color: black;
    padding: 20px;
    margin: 0px 0px;
}

section.upper {
    color: white;
    background-color: black;
    display: middle;
    text-align: center;
    font-size: 20px;
    padding-top: 0px;
}


/* Adjusts the div boxes (Particualrly the flex direction & location)*/
section.middle, section.bottom-middle{
    display: flex;
    flex-direction: wrap;
    justify-content: center;
    padding: 50px;
    gap:20px;
}

section.lower-middle, section.high-bottom{
    display: flex;
    flex-direction: wrap;
    justify-content: center;
    padding: 60px;
}

/*Openning statement on page*/
section.raise-text {
    padding: 120px;
    margin: 0px;
    display: flex;
    justify-content: center;
    position: relative;
}

p.Statement {
    transition: all 0.9s;
    opacity: 0.5;
    font-size: 31px;
    position: absolute;
    top: 30%;
}

section.raise-text:hover p.Statement{
    transform: translateY(-25%);
    opacity: 1;
}

section.bottom {
    background-color: lightgreen;
    text-align: center;
    padding: 6px;
}

div {
    font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
    display: flex;
    padding: 0px;
    border-radius: 10px;
    color: black;
    /* font-size: 60px; */
}

div.Project-1, div.Project-2{
    height: 700px;
    width: 700px;
    display: flex;
    flex-direction: column;
    /* background-color: rgb(233, 243, 252); */
    border: 1px solid #559dc7;
}

div.box-up {
    margin: 0px;
    height: 300px;
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-up img {
    width: 100%; /* Ensures the image scales to fill the width of the box */
    height: 100%; /* Ensures the image scales to fill the height of the box */
    object-fit: cover; /* Scales the image to fully cover the box while maintaining aspect ratio */
    object-position: 0% 67%;
    border-radius: 10px;
}

div.box-down {
    height: 400px;
    width: 700px;
    display: flex;
    flex-direction: column;
    /* background-color: #75A47F; */
}

.box-down .sub-title{
    padding: 30px 30px 30px 50px;
    margin: 0px;
    font-size: 35px;
}

.box-down .description{
    margin: 0px;
    font-size: 25px;
    padding: 20px 30px 30px 50px; /*up right down left*/
}


div.Project-3{
    width: 1420px;
    height: 500px;
    background-color: white;
    gap: 20px;
}

.box-left {
    margin: 0px;
    height: 500px;
    width: 720px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-left img {
    width: 100%; /* Ensures the image scales to fill the width of the box */
    height: 100%; /* Ensures the image scales to fill the height of the box */
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

.box-left .elec_290{
    width: 100%; /* Ensures the image scales to fill the width of the box */
    height: 100%; /* Ensures the image scales to fill the height of the box */
    object-fit: cover;
    object-position: top;
    border-radius: 10px;
}

.box-right {
    height: 500px;
    width: 720px;
    display: flex;
    flex-direction: column;
    background-color: #559dc7;
    margin: 0px;
}

.box-right .sub-title{
    padding: 40px 30px 30px 50px; /*up right down left*/
    margin: 0px;
    font-size: 35px;
}

.box-right .description{
    margin: 0px;
    font-size: 25px;
    padding: 20px 30px 30px 50px;
}

.box-right .project-button{
    margin-top: auto; /*Auto moves it to the bottom inline with text*/
}

.project-button {
    margin: 50px;
    width:150px;
    height: 50px;
    border-radius: 5px;
    border: 2px solid lightskyblue;
    background-color: rgb(216, 235, 250);;
    box-shadow: inset 0 0 0 0 lightskyblue;
    transition: ease-out 0.35s;
}

.project-button:hover{
    box-shadow: inset 150px 0 0 0 lightskyblue;
    cursor: pointer;
}


ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

li {
    display: flex;
    flex-direction: wrap;
    justify-content: center;
    width: 200px;
    text-align: center;
}

a {
    text-decoration: none;
    text-transform: none;
    cursor: pointer;
    position: relative;
    font-size: 20px;
    color: white;
}

a::after{
    content: '';
    position: absolute;
    height: 2px;
    left: 0;
    bottom: -3px;
    width: 0;
    background: lightgreen;
    transition: width 0.2s;
}

a:hover:after {
    width: 100%;
}

a:visited {
    color: white;
}

