body {
    background: black;
    color: white;
    font-family: Helvetica Neue, Helvectica, sans-serif;
    margin: 0px 0px;
}

header{
    padding: 35px 20px 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer{
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

header nav ul, footer nav{
    display: flex;
    flex-direction: row;
    /* align-content: center;
    justify-items: center; */
}

header h1 {
    text-align: left;
    margin-bottom: 5px;
    align-self: flex-start;
}

header h2 {
    align-self: flex-start;
    text-align: left;
    font-size: medium;
    margin: 0px;
    padding: 0px;
}





/*Openning statement on page*/
section.raise-text {
    padding: 12.69vh;
    margin: 0px;
    display: flex;
    justify-content: center;
    position: relative;
}

p.Statement {
    transition: all 0.9s;
    opacity: 0.5;
    font-size: 3.3vmin;
    position: absolute;
    top: 30%;
}

section.raise-text:hover p.Statement{
    transform: translateY(-25%);
    opacity: 1;
}

section.bottom {
    background-color: lightgreen;
    text-align: center;
    padding: 6px;
}




section {
    /* background: rgb(247, 247, 247); Change all sections background colour */
    background-color: white;
    color: black;
    padding: 2.116vh;
    margin: 0px 0px;
}

section.upper {
    color: white;
    background-color: black;
    display: middle;
    text-align: center;
    font-size: 2.0vmin;
    padding-top: 0px;
}


/* Adjusts the div boxes (Particualrly the flex direction & location)*/
section.middle, section.bottom-middle{
    display: flex;
    flex-direction: wrap;
    justify-content: center;
    padding-top: 0px;
    gap:3.125vw;
}

section.lower-middle, section.high-bottom{
    display: flex;
    flex-direction: wrap;
    justify-content: center;
    padding-top: 0px;
    background-color: blue;
}






div {
    font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
    display: flex;
    border-radius: 10px;
    color: black;
    font-size: 3.0vmin;
}

div.Project-1, div.Project-2{
    height: 84.65vh;
    width: 36.45vw;
    display: flex;
    flex-direction: column;
}

.box-up {
    margin: 0px;
    height: 31.74vh;
    width: 36.45vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-up img {
    width: 100%; /* Ensures the image scales to fill the width of the box */
    height: 100%; /* Ensures the image scales to fill the height of the box */
    object-fit: cover; /* Scales the image to fully cover the box while maintaining aspect ratio */
    object-position:center; /* Centers the image within the box */
    border-radius: 10px;
}

.box-down {
    height: 42.32vh;
    width: 36.45vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
}

.box-down .sub-title{
    padding: 30px 30px 10px 50px;
    margin: 0px;
    font-size: 4.2vmin;
    text-align: center;
}

.box-down .job-title{
    margin: 0px;
    font-size: 1.8vmin;
    text-align: center;
    padding-bottom: 2.6455vh;
}

.box-down .description{
    margin: 0px;
    font-size: 2.5vmin;
    padding: 2.116vh 1.5625vw 1.5625vw 5.291vh; /*up right down left*/
}

.box-down .City{
    width: 6.25vw;
    margin-top: 2.116vh;
    display: flex;
    align-self: center;
    justify-content: space-between;
}

.box-down .Hylands{
    width: 4.53vw;
    display: flex;
    align-self: center;
    justify-content: space-between;
}






div.Project-3{
    width: 74vw;
    /* background-color: rgb(247, 247, 247); */
    background-color: white;
    display: flex;
    padding: 2.116vh;
    gap: 1.041vw;
}

.box-right {
    height: 84.65vh;
    width: 37.5vw;
    display: flex;
    justify-content: center;
}

.box-right img {
    width: 100%; /* Ensures the image scales to fill the width of the box */
    height: 100%; /* Ensures the image scales to fill the height of the box */
    object-fit: cover; /* Scales the image to fully cover the box while maintaining aspect ratio */
    object-position:bottom; /* Centers the image within the box */
    border-radius: 10px;
}

.box-left {
    height: 84.65vh;
    width: 37.5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sub-title{
    padding: 3.174vh;
    margin: 0px;
    font-size: 2.5vmin;
}

.box-left .description{
    padding: 1.058vh 1.5625vw 1.5625vw 2.116vh; /*up right down left*/
    font-weight: 500;
    margin: 0px;
    font-size: 5.2vmin;
}

.core-description{
    line-height: 4.5vh; /*Line height*/
    padding: 2.116vh 1.5625vw 1.041vw 3.174vh;
    margin: 0px;
    font-size: 3.20vmin;
}

.small-text{
    font-size: 2.1vmin;
    width: 10.416vw;
    margin-top: 4.232vh;
}

div.organizations{
    margin-top: 5.291vh;
    width: 26.0416vw;
    display: flex;
    align-self: center;
}

div.organizations img{
    margin: 0.5291vh;
    width: 100%; /* Ensures the image scales to fill the width of the box */
    height: 70%; /* Ensures the image scales to fill the height of the box */
}






div.about-me{
    width: 74vw;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    padding: 2.116vh;
    gap: 1.041vw;
}

.box-left-2{
    height: 84.65vh;
    width: 31.25vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid rgb(110, 199, 110);;
}

.box-left-2 .sub-title{
    font-size: 2.4vmin
}

.box-right-2{
    height: 84.65vh;
    width: 31.25vw;
    display: flex;
    justify-content: center;
}

.Me {
    width: 100%; /* Ensures the image scales to fill the width of the box */
    height: 100%; /* Ensures the image scales to fill the height of the box */
    object-fit: cover; /* Scales the image to fully cover the box while maintaining aspect ratio */
    object-position:center; /* Centers the image within the box */
    border-radius: 10px;
}


section.testing{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.6041vw;
}


div.Resume{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 95.24vh;
    height: 46.875vw;
}

div.Resume img{
    max-height: 100%;
    box-shadow:
    rgba(0, 0, 0, 0.3) 0 -2px 5px, /* Shadow at the top */
    rgba(0, 0, 0, 0.3) 0 5px 5px; /* Shadow at the bottom */;
}


.project-button {
    width:7.8125vw;
    height: 5.291vh;
    border-radius: 5px;
    border: 2px solid rgb(110, 199, 110);
    background-color: white;
    box-shadow: inset 0 0 0 0 lightgreen;
    transition: ease-out 0.35s;
    font-size: 1.5vmin;
}

.project-button:hover{
    box-shadow: inset 150px 0 0px 0px lightgreen;
    cursor: pointer;
}





ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

li {
    display: flex;
    flex-direction: wrap;
    justify-content: center;
    width: 200px;
    text-align: center;
}

a {
    text-decoration: none;
    text-transform: none;
    cursor: pointer;
    position: relative;
    font-size: 20px;
    color: white;
}

a::after{
    content: '';
    position: absolute;
    height: 2px;
    left: 0;
    bottom: -3px;
    width: 0;
    background: lightgreen;
    transition: width 0.2s;
}

a:hover:after {
    width: 100%;
}

a:visited {
    color: white;
}